{% extends 'information/base.html' %}
{%block content%}
    <body>
        <br>
        <br>
        <div class="text-center">
            <h3 class="s1">ProjectX... Management at it's finest!</h3>
            <br>
            <h5 class="s2">Keep track of your records effectively!</h5>
            <hr>
            <br>
            <a class="btn btn-outline-light" type="button" href="{% url 'register' %}"> Craate your acount &nbsp;&nbsp;&nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i> </a>
        </div>
    </body>
{%endblock%}
